<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
    
<nav id="topNav">
    <div class="navLogo">
        <p>CLUB <span class="logoSpan">direct</span></p>
    </div>
    <div class="signUp">
        <% if(!currentUser) { %>
        <a href="/login">Login </a>
        <!--<a href="/register"> Sign Up </a>      -->
  <%  } else { %>
         <a href="#">Hi <%=currentUser.username %>!!!</a>
        <a href="/logout"> Log Out </a>
 <% } %>

    </div>
</nav>
  