<% include partials/header %>
<div id="addNewContainer">
    <a href="/clubs/new"><button>Add New Club</button></a>
</div>
<!--<h1 id="pageTitle">Clubs page</h1>-->

<div id="mainContainer">
    <% clubs.forEach(function(club) { %>
        <div class="clubContainer cf">
            <div class="mainImage">
                <h4><%= club.name %></h4>
                <img style="width: 200px max-height: 200px;" src="<%= club.image %>">
            </div>
            <div class="clubInfo">
                <p><span class="infoTitle">Address</span></p>
                <p><%= club.address %></p>
                <a class="btnAnchor viewBtn" href="/clubs/<%= club._id %>"><input type="submit" value="View Club"></input></a>
            </div><!--class="clubInfo End"-->
        </div> <!--class="clubContainer END"-->
    <% }) %>    
</div>
  

<% include partials/footer %>


        <!--name: "Fort Lauderdale Country Club",-->
        <!--address: "415 E Country Club Cir, Fort Lauderdale, FL 33317",-->
        <!--hrContact: "Harry Smith",-->
        <!--hrPhone: "347-666-1234",-->
        <!--hrEmail: "default@gmail.com",-->
        <!--GmContact: "Anthony Mandatta",-->
        <!--GmPhone: "347-452-9552",-->
        <!--GmEmail: "gmmanaer@club.com",-->
        <!--distance: "12.7 miles",-->
        <!--notes: "This could be General Notes Section Some more Notes",-->
        <!--image: "https://farm3.staticflickr.com/2217/1711688729_10fd998b5d.jpg"-->