<% include ../partials/header %>

<div class="newClubContainer">
    <a href="/clubs/new">Add New Club</a>
</div>

<div id="mainContainer">
    <% clubs.forEach(function(club) { %>
        <div class="clubContainer cf">
            <div class="mainImage">
                <h4><%= club.name %></h4>
                <img style="width: 200px max-height: 200px;" src="<%= club.image %>">
            </div>
            <div class="clubInfo">
                <p><span class="infoTitle">Address</span></p>
                <p><%= club.address %></p>
                <a class="btnAnchor viewBtn" href="/clubs/<%= club._id %>"><input type="submit" value="View Club"></input></a>
            </div><!--class="clubInfo End"-->
        </div> <!--class="clubContainer END"-->
    <% }) %>    
</div>


<% include ../partials/footer %>

