<% include ../partials/header %>
<div id="formPageContainer">



    <div id="formContainer">
        <form action="/clubs" method="POST">
            <div class="inputContainer">
                <p class="showTitles">Club Name</p>
                <input type="text"  name="name"></input>      
            </div>
            <div class="inputContainer">
                 <p class="showTitles">Address</p>
                <input type="text" name="address"></input>      
            </div>
            <div class="inputContainer">
                <p class="showTitles">HR Contact</p>
                <input type="text" name="hrcontact"></input>     
            </div>
            <div class="inputContainer">
                <p class="showTitles">HR Phone</p>
                <input type="text" name="hrphone"></input>       
            </div>
            <div class="inputContainer">
                <p class="showTitles">HR Email</p>
                <input type="text" name="hremail"></input>       
            </div>
            <div class="inputContainer">
                <p class="showTitles">GM Contact</p>
                <input type="text" name="gmcontact"></input>        
            </div>
            <div class="inputContainer">
                <p class="showTitles">GM Phone</p>
                <input type="text" name="gmphone"></input>        
            </div>  
            <div class="inputContainer">
                <p class="showTitles">GM Email</p>
                <input type="text" name="gmemail"></input>       
            </div>
            <div class="inputContainer">
                <p class="showTitles">Distance</p>
                <input type="text" name="distance"></input>        
            </div>
            <div class="inputContainer">
               <p class="showTitles">Notes</p>
               <textarea name="notes"></textarea>      
            </div>
            <div class="inputContainer">
                <p class="showTitles">Image URL</p>
                <input type="text" name="image"></input>   
            </div>
            <div class="inputContainer">
                <button>Submit</button>
                <a class="backbtn" href="/clubs">Back</a>
            </div> 
        </form>    
    </div>    
</div>

<% include ../partials/footer %>





        <!--name: "Fort Lauderdale Country Club",-->
        <!--address: "415 E Country Club Cir, Fort Lauderdale, FL 33317",-->
        <!--hrContact: "Harry Smith",-->
        <!--hrPhone: "347-666-1234",-->
        <!--hrEmail: "default@gmail.com",-->
        <!--GmContact: "Anthony Mandatta",-->
        <!--GmPhone: "347-452-9552",-->
        <!--GmEmail: "gmmanaer@club.com",-->
        <!--distance: "12.7 miles",-->
        <!--notes: "This could be General Notes Section Some more Notes",-->
        <!--image: "https://farm3.staticflickr.com/2217/1711688729_10fd998b5d.jpg"-->