<% include ../partials/header %>
<div id="formPageContainer">

    <div id="formContainer">
        <form action="/clubs" method="POST">
            <div class="inputContainer">
                <label>Club Name</label><br>
                <input type="text" placeholder="Club Name" name="name"></input>      
            </div>
            <div class="inputContainer">
                <label>Address</label><br>
                <input type="text" placeholder="Address" name="address"></input>      
            </div>
            <div class="inputContainer">
                <label>HR Contact</label><br>
                <input type="text" placeholder="HR Contact" name="hrcontact"></input>     
            </div>
            <div class="inputContainer">
                <label>HR Phone</label><br>
                <input type="text" placeholder="HR Phone" name="hrphone"></input>       
            </div>
            <div class="inputContainer">
                <label>HR Email</label><br>
                <input type="text" placeholder="HR Email" name="hremail"></input>       
            </div>
            <div class="inputContainer">
                <label>GM Contact</label><br>
                <input type="text" placeholder="GM Contact" name="gmcontact"></input>        
            </div>
            <div class="inputContainer">
                <label>GM Phone</label><br>
                <input type="text" placeholder="GM Phone" name="gmphone"></input>        
            </div>  
            <div class="inputContainer">
                <label>GM Email</label><br>
                <input type="text" placeholder="GM Email" name="gmemail"></input>       
            </div>
            <div class="inputContainer">
                <label>Distance</label><br>
                <input type="text" placeholder="Distance" name="distance"></input>        
            </div>
            <div class="inputContainer">
               <label>Notes</label><br>
               <textarea name="notes" placeholder="Notes"></textarea>      
            </div>
            <div class="inputContainer">
                <label>Image Url</label><br>
                <input type="text" placeholder="Image Url" name="image"></input>   
            </div>
            <div class="inputContainer">
                <button>Submit</button>
                <a class="backbtn" href="/clubs">Back</a>
            </div> 
        </form>    
    </div>    
</div>

<% include ../partials/footer %>





        <!--name: "Fort Lauderdale Country Club",-->
        <!--address: "415 E Country Club Cir, Fort Lauderdale, FL 33317",-->
        <!--hrContact: "Harry Smith",-->
        <!--hrPhone: "347-666-1234",-->
        <!--hrEmail: "default@gmail.com",-->
        <!--GmContact: "Anthony Mandatta",-->
        <!--GmPhone: "347-452-9552",-->
        <!--GmEmail: "gmmanaer@club.com",-->
        <!--distance: "12.7 miles",-->
        <!--notes: "This could be General Notes Section Some more Notes",-->
        <!--image: "https://farm3.staticflickr.com/2217/1711688729_10fd998b5d.jpg"-->