    html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


body {
    background:rgba(220, 220, 220, .2);
    font-family: 'Oswald', sans-serif;
}

#topNav {
    width: 100%;
    height: 60px;
    background: orange;
    position: fixed;
    top:0px;
}
.navLogo {
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size: 2.2em;
    text-align: left;
    margin-top: 12px;
    margin-left: 35px;
}

.signUp {
    font-family: 'Oswald', sans-serif;
    /*position: absolute;*/
    /*top: 27px;*/
    /*left: 230px;*/
    float:right;
    margin-top: -20px;
    margin-right: 65px;
    color:white;
    text-decoration: none;
}
.signUp a {
    font-size: 1.2em;
    color:white;
    text-decoration: none;
}

.logoSpan {
    font-style: italic;
    color:#3F9FBF;
    font-size: .8em;
}

#pageTitle {
    text-align:center;
    margin:0 auto;
 }

#mainContainer {
padding-left:30px;
}

.clubContainer{
    border:2px solid #CCC;
    margin: 60px auto 10px auto;
    width:30%;
    text-align:center;
    padding:10px 0;
    border-radius: 5px;
    float:left;
    margin-right: 30px;
    margin-left: 0px;
    margin-bottom: 0px;
    background:#FFF;
    box-shadow: 3px 3px 10px #AAA;
}
.clubContainer img {
    width:50%;
}
.infoTitle {
    font-weight:bold;
    font-size: 1.2em;
    margin-bottom: 3px;
    
}


.clubInfo {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 7px;
}

.mainImage {
  width: 100%;  
}
.mainImage img {
    margin-bottom: 5px;
}

.mainImage h4 {
font-size: 1.4em;
color: orange;
margin-bottom:5px;
}
.clubInfo {
    margin-top:0;
}

input[type="submit"],
button
{
    background: orange;
    color:white;
    height:35px;
    font-size:17px;
    border-radius:7px;
    border:3px solid #FFB347;
    margin-top: 5px;
    box-shadow: 2px 2px 5px #AAA;
}

button:hover
{
    background: #FFB347;
    border:3px solid orange;
    margin-top: 5px;
    box-shadow: 2px 2px 5px #AAA;
}

.backbtn {
background: #009900;
color:white;
font-size:17px;
height:25px;
padding: 8px;
border-radius:7px;
text-decoration: none;
font-family: helvetica;
margin-left: 4px;
box-shadow: 2px 2px 5px #AAA;
 }
 .backbtn:hover {
background: #00b300;
 
 }
 
.backbtnMain {
background: #3F9FBF;
color:white;
font-size:18px;
height:25px;
padding: 20px;
border:2px solid white;
margin-top: 20px;
border-radius:7px;
text-decoration: none;
font-family: helvetica;
box-shadow: 2px 2px 5px #AAA; 

 }
 #addNewContainer {
     margin-top: 40px;
 }
 


input[type="submit"]:hover {
    background: #FFB347;
    border:3px solid orange;
}

.btnAnchor {
text-decoration:none;

}
.btnAnchor input {
    margin-top: 5px;
   height: 40px;
}



#formContainer {
    width: 400px;
    margin: 50px auto 0px auto;
    text-align: left;
 }
 
#formPageContainer {
    width: 60%;
    border:1px solid #DDD;
    margin: 100px auto 40px auto;
    background: white;
}


label {
    text-align: left;
    font-family: helvetica;
}

input[type="text"],
input[type="email"],
textarea {
    width:95%;
    height: 35px;
    border:3px solid #DDD;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 1.3em;
    padding-left: 5px;
}
textarea {
    height: 60px;
}
.inputContainer {
    margin-bottom: 10px;
}

#addNewContainer {
    text-align: center;
    margin: 100px auto 0px auto;
    height: 5px;
    width: 95%;
}


#showContainer {
    margin-top: 100px;
    width: 90%;
    margin: 100px auto 0px auto;
    padding: 20px;
}
.showImg {
    width: 45%;
    float:left;
    border:1px solid #CCC;
    border-radius:5px;
    padding: 12px;
    background:white;
}

.showImg img {
    width: 100%;
 }

.showContent {
    width: 50%;
    float:right;
    border:1px solid #CCC;
    border-radius:5px;
    text-align: left;
    padding: 10px 0px 10px 10px;
    background:white;
}
.showContent p {
 padding-bottom: 5px;   
}

.addCommentsContainer {
    border:1px solid #CCC;
    border-radius:5px;
    margin-top: 20px;
    width: 45%;
    padding: 12px;
    background:white;
    float:left;
}

.addCommentsContainer input[type="text"] {
    margin-bottom: 10px;
}

.addCommentsContainer textarea {
    width: 95%;
    height: 100px;
    margin-bottom: 10px;
}

p.showTitles {
    color:orange;
    font-size: 1.5em;
}

.commentsMain {
    width :49%;
    border:1px solid #CCC;
    border-radius:5px;
    background:white;
    padding: 12px;
    float:right;
    margin-top: 20px;
    margin-bottom: 30px;
}

p#commentAuthor {
    font-weight: normal;
    font-size: 1.5em;
    font-style: helvetica;
    color: orange;
    margin-bottom: 5px;

}

h4#commentText {
    font-weight: normal;
    font-style: helvetica;
    margin-bottom: 20px;
}